/*body {*/
/*    background: red;*/
/*}*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.el-dialog.custom-modal {
    border-radius: 20px;
}
.custom-modal .el-dialog__header {
    text-align: center;
}
.el-dialog.comment-modal{
    border-radius: 20px;
    width: 600px;
    display: flex;
    flex-direction: column;
}
.comment-modal .el-dialog__header{
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    border-bottom: 1px solid grey;
    padding: 10px 20px;
}
.comment-modal .el-dialog__body{
    display: flex;
   flex-direction: column;
}
.comment-modal .show-comments{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.comment-modal .coments{
    flex: 1;
    min-width: 1px;
}
.el-dialog.custom-modal-share{
    width: 600px;
}
.custom-modal-share .el-dialog__header{
    text-align: center;
    padding: 0;
}
.modal-moremenu .el-dialog__header{
    padding: 0;

}
/*.comment-modal .show-comments{*/
/*    display: flex;*/
/*   */
/*    flex-direction: column;*/
/*}*/
.el-dialog.modal-moremenu{
    margin: 15px 134px 39px;
    border-radius: 15px;
}

@media (max-width: 768px) {
    .el-dialog.no-padding-modal{
        width: 100%;
    }
}
@media (max-width: 415px) {
    .el-dialog.no-padding-modal{
        width: 90%;
    }
    .el-dialog.modal-moremenu{
        margin: 10px;
        width: 37%;
        border-radius: 15px;
    }
    .modal-moremenu .el-dialog__header{
        padding: 0;
    }
    .no-padding-modal.no-padding-header .show-comments{
        width: 100%;
    }
    .el-dialog.custom-modal-share{
        width: 90%;
        border-radius: 15px;
    }
    .el-dialog.custom-modal-share .el-dialog__header{
        padding: 0;
    }
    .el-dialog.comment-modal{
        width: 100%;
    }
    /*.comment-modal .*/
}